<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.montclair.puma.treelog">

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="12" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.montclair.puma.treelog.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.montclair.puma.treelog.WelcomeActivity" />
        <activity android:name="com.montclair.puma.treelog.LocateNewTree" />
        <activity android:name="com.montclair.puma.treelog.PropertyList" />
        <activity android:name="com.montclair.puma.treelog.LeafIdentification" />
        <activity android:name="com.montclair.puma.treelog.TreeMeasurement" />
        <activity android:name="com.montclair.puma.treelog.TreeTypeList" />
        <activity android:name="com.montclair.puma.treelog.TreePit" />

        <!--
        Service to asynchronously fetch a location address using a Geocoder. Setting the
        android:exported attribute to "false" stops other apps from starting this
        service, even when using an explicit intent.
        -->
        <service
            android:name="com.montclair.puma.treelog.utils.FetchAddressIntentService"
            android:exported="false" />

        <activity android:name="com.montclair.puma.treelog.TakeTreePic" />
        <activity android:name="com.montclair.puma.treelog.TreeCondition" />
        <activity android:name="com.montclair.puma.treelog.TreeFinalPic" />
        <activity android:name="com.montclair.puma.treelog.BioticDamage" />
        <activity android:name="com.montclair.puma.treelog.AbioticDamage" />
        <activity android:name="com.montclair.puma.treelog.MainActivity" />
        <activity android:name="com.montclair.puma.treelog.Register" />
        <activity
            android:name="com.montclair.puma.treelog.TreeHistory"
            android:label="@string/title_activity_tree_history" />
        <activity android:name="com.montclair.puma.treelog.TreeList" />
        <activity android:name="com.montclair.puma.treelog.TreeImagesList" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.montclair.puma.treelog.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name="com.montclair.puma.treelog.BigPicture" />
        <activity android:name="com.montclair.puma.treelog.AddPics" />
        <activity android:name="com.montclair.puma.treelog.LoadingScreenActivity" />
        <activity android:name="com.montclair.puma.treelog.EditTree" />
        <activity android:name="com.montclair.puma.treelog.AddEvent" />
        <activity android:name="com.montclair.puma.treelog.TreeListFiltered" />
    </application>

</manifest>